<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.ClassifyDao">

    <select id="getAllDemand" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
    </select>

    <select id="filterType" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE project_type = #{projectType}
    </select>

    <select id="filterStatus" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE tender_status = #{tenderStatus}
    </select>

    <select id="filterRole" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE recruitment_role = #{recruitmentRole}
    </select>

    <select id="filterStatusAndRole" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE tender_status = #{tenderStatus}
        AND recruitment_role = #{recruitmentRole}
    </select>

    <select id="filterTypeAndRole" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE recruitment_role = #{recruitmentRole}
        AND project_type = #{projectType}
    </select>

    <select id="filterTypeAndStatus" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE tender_status = #{tenderStatus}
        AND project_type = #{projectType}
    </select>

    <select id="getDemandByProjectName" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id,
            project_name                           projectName,
            project_description                    projectDescription,
            demand_type                            demandType,
            project_cycle                          projectCycle,
            project_budget                         projectBudget,
            recruitment_role                       recruitmentRole,
            project_demand                         projectDemand,
            tender_status                          tenderStatus,
            apply_num                              applyNum,
            project_type                           projectType,
            employer_name                          employerName,
            comment_money                          commentMoney,
            comment_time                           commentTime,
            comment_reliable                       commentReliable,
            comment_hard                           commentHard,
            file_id                                fileId
        FROM demand
        WHERE id = #{projectId}
    </select>

    <select id="getDemandIdByProjectName" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id                                     id
        FROM demand
        WHERE project_name = #{projectName} AND employer_name = #{companyName}
    </select>


    <insert id="participationProject" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO studio_not_recruited
           (project_name,deposit, final_payment, company_name, studio_name)
        VALUES
            (#{projectName},#{deposit}, #{finalPayment}, #{companyName}, #{studioName})
    </insert>

    <select id="isAlreadyparticipated" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            *
        FROM studio_not_recruited
        WHERE studio_name = #{studioName}
        AND project_name = #{projectName}
        AND company_name = #{companyName}
    </select>
</mapper>